body{

margin:0;
font-family: 'Montserrat', sans-serif;
background:#2a1237;
color:white;
text-align:center;

}

header{

padding:60px 20px;
animation: aparecer 2s ease;

}

.titulo{

font-family:'Dancing Script', cursive;
font-size:60px;
color:#d4af37;
text-shadow:0 0 10px gold;

}

.subtitulo{

font-size:18px;
opacity:0.9;

}

h2{

font-family:'Playfair Display', serif;
color:#e0c27a;
margin-top:50px;

}

.servicios-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:30px;

}

.servicio{

background:rgba(255,255,255,0.08);
padding:18px;
border-radius:15px;
font-size:16px;
backdrop-filter:blur(5px);
transition:0.4s;
border:1px solid rgba(212,175,55,0.3);

}

.servicio:hover{

transform:scale(1.05);
background:rgba(212,175,55,0.15);

}

.botones button{

background:#d4af37;
border:none;
padding:15px 30px;
margin:10px;
font-size:16px;
border-radius:25px;
cursor:pointer;
transition:0.3s;

}

.botones button:hover{

transform:scale(1.1);
background:#f1d27a;

}

.agenda{

padding:40px;

}

form{

display:flex;
flex-direction:column;
align-items:center;
gap:15px;

}

input, select{

width:260px;
padding:12px;
border-radius:10px;
border:none;

}

.btn-agendar{

background:#caa24a;
padding:12px 25px;
border:none;
border-radius:20px;
font-size:16px;
cursor:pointer;
transition:0.3s;

}

.btn-agendar:hover{

background:#f0d080;

}

.btn-whatsapp{

display:inline-block;
background:#25D366;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
color:white;
font-size:18px;
margin:40px;
transition:0.3s;

}

.btn-whatsapp:hover{

transform:scale(1.1);

}

.contacto{

padding:40px;

}

footer{

margin-top:40px;
padding:20px;
background:#1b0d25;

}
.modal{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;

}

.contenido-modal{

background:#2a1237;
padding:40px;
border-radius:20px;
width:80%;
max-width:400px;
text-align:center;

}

#tituloServicio{

font-family:'Dancing Script', cursive;
color:#d4af37;
font-size:35px;

}

#textoServicio{

color:#f2e9ff;
margin-top:15px;

}
@keyframes aparecer{

from{

opacity:0;
transform:translateY(-20px);

}

to{

opacity:1;

}

}
.redes{

display:flex;
justify-content:center;
gap:20px;
margin:40px;

}

.btn-red{

width:55px;
height:55px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
transition:0.3s;

}

.btn-red img{

width:28px;

}

.btn-red:hover{

transform:scale(1.15);

}

.whatsapp{

background:#25D366;

}

.facebook{

background:#1877F2;

}

.instagram{

background:linear-gradient(45deg,#f58529,#dd2a7b,#8134af,#515bd4);

}

